$font-body: 'Nunito', sans-serif;
$font-heading: 'Playfair Display', serif;

$color-dark: #1A1A1A;
$color-primary: #195D66;
$color-primary-light: #DEEBE7;
$color-secondary: #F1F1E6;
$color-accent: #FF6B35;

$shadow-sm: 1px 1px 10px 0px rgba(0, 0, 0, 0.05);


